<!DOCTYPE html>
<html ng-app>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		<!-- Incluir Bootstrap -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

		<!-- Incluir AngularJS -->
		<script src="js/lib/angular.min.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="container">

			<!-- <h1>Filtros :: Filters</h1>
			<h4>en angularjs</h4>
			<hr>
			<p>
				Filtro de texto: {{ "FerNandO" }}
				<br>
				Filtro de texto: {{ "FerNandO" | uppercase }}
				<br>
				Filtro de texto: {{ "FerNandO" | lowercase }}
			</p>
			<p>
				Filtro de moneda: {{ 1350 }}
				<br>
				Filtro de moneda: {{ 1350 | currency }}
				<br>
				Filtro de moneda: {{ 1350 | currency:'L.' }}
			</p>
			<p>
				Filtro de número: {{ 1350000 }}
				<br>
				Filtro de número: {{ 1350000 | number }}
			</p> -->



			<!-- <h1>ng-model</h1>
			<h4>en angular js</h4>
			<hr>

			<p>
				Su nombre: {{ nombre | uppercase }}
				<br>
				<input type="text" ng-model="nombre" class="form-control" placeholder="Ingrese su nombre">
			</p>

			<p>
				Seleccione el país: {{ pais }}
				<select class="form-control" ng-model="pais">
					<option value="1">Costa Rica</option>
					<option value="2">México</option>
					<option value="3">Colombia</option>
				</select>
			</p>

			<p>
				Seleccione las opciones que desea: {{ opt1 }} {{ opt2 }}
				<br>
				<input type="checkbox" ng-model="opt1"> Opción 1
				<br>
				<input type="checkbox" ng-model="opt2"> Opción 2
			</p>

			<p>
				Seleccione el género: {{ genero }}
				<br>
				<input type="radio" value="M" ng-model="genero"> Masculino
				<br>
				<input type="radio" value="F" ng-model="genero"> Femenino
			</p> -->



			<!-- Evaluación -->
			<h1>Evaluación</h1>
			<h4>Angular 101</h4>
			<hr>

			<p>
				Nombre completo:
				<br>
				<input type="text" ng-model="fullname" class="form-control" placeholder="Ingrese el nombre" autofocus>
			</p>

			<p>
				Lugar de trabajo:
				<br>
				<input type="text" ng-model="workplace" class="form-control" placeholder="Ingrese el lugar de trabajo">
			</p>

			<p>
				Salario en dólares:
				<br>
				<input type="number" ng-model="salary" class="form-control" placeholder="Ingrese el salario">
			</p>
			
			<hr>

			<p>
				Nombre: {{ fullname | uppercase }}
				<br>
				Lugar de trabajo: {{ workplace | lowercase }}
				<br>
				Con salario de: {{ salary | currency }}
			</p>

		</div>
	</body>
</html>